.Navbar {
  background-color: rgb(245, 242, 238);
  height: 80px;
  position: sticky;
}

.Navbar-left {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 4rem;
}

.Navbar-left i {
  font-size: 2rem;
  margin-right: 0.8rem;
  color: #0d6efd;
}

.Navbar-left h3 {
  margin: 0;   
  color: #333;
}

.Navbar-mid {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 4rem;
}
.Navbar-mid a{
    margin: 1rem;
    text-decoration: none;
    color: black;
    opacity: 80%;
    font-size: large;

}
.Navbar-mid a:hover {
    color: #0d6efd;
}

.Navbar-end{
    display: flex;
  align-items: center;
  height: 100%;
  padding-left: 4rem;
}

.Navbar-end i{
    margin-right:0.5rem;
    opacity: 80%;
}
.Navbar-end span{
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

/* Responsieness */
/* mobile  */
@media (min-width: 0px) and (max-width: 576px){
   .Navbar{
    height: auto !important;
   }
   .Navbar-mid{
    display: none;
   }
}

@media (max-width: 991px) {
    .Navbar-mid {
        display: none !important;
    }
    
    .navbar-collapse.show .Navbar-mid {
        display: flex !important;
        flex-direction: column;
        padding: 1rem;
    }

    .navbar-toggler {
      border: 1px solid transparent; /* default border transparent */
    }

    .navbar-toggler:hover {
    box-shadow: none;
    border: 4px solid #0d6efd;
    }
    .navbar-toggler:active {
    border: 2px solid #0d6efd !important;
    }

    .navbar-collapse.show .Navbar-mid a:hover{
      color: blue;
    }
    
    .Navbar {
        height: auto !important;
    }
}

