.doctor-row{
    margin-top: 4rem;
}

.doctor-tag{
    font-size: 1.2rem;
    color: blue;
    background-color: #d5d5f7;
    padding: 0.4rem 1.5rem;
    border-radius: 50px;
    margin: 0 auto 1rem auto;
    width: 10rem;
}

.doctor-heading{
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.doctor-desc{
    opacity: 80%;
}

.doctors-list {
  margin-top: 2rem;
}

.doctor-card {
  height: 30rem;
  /* width: 18rem;  hata do */
  /* border: 1px solid rgb(233, 226, 226); */
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s;
  margin: 0.5rem;
}

.doctor-card:hover {
  border-color: #0d6efd;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  cursor: pointer;
}

.card-img {
  height: 60%;
  width: 100%;
  position: relative;
}

.card-img img {
    margin-top: 1rem;
  width: 100%;
  height: 90%;
  border-radius: 20px;
}

.card-content{
    margin: 0.5rem;
}
.card-content h5{
    margin-bottom: 0.3rem;
}

.card-content .para1 {
    font-size: 1.3rem;
    color: #0d6efd;
    margin-bottom: 0.3rem;
}

.card-content p {
    margin-bottom: 0.6rem;
}

.para2 i {
    margin-right: 0.3rem;
}
.para3 i {
    font-size: 1rem;
    color: black;
    margin-right: 0.3rem;
}

.card-content button{
    width: 100%;
    height: 2.5rem;
    background-color:#0d6efd;
    border-radius: 10px;
    color: white;
}
.rating-badge {
    z-index: 10;
    background-color: white;
    position: absolute;
    top: 30px;
    right: 20px;
    color: black;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 0.3rem 0.6rem;
    border-radius: 8px;
}

.rating-badge i {
    color: yellow;
    font-size: 1rem;
    margin-right: 0.3rem;
}

.rating-badge:hover {
    border-color: #0d6efd;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    cursor: pointer;
}

@media (min-width: 0px) and (max-width: 576px){
    .main-doctors-card{
        width: 100%;
        margin-bottom: 1rem;
    }
}